{{- partial "header" . }}

{{- $paginator := (.Paginator 10) -}}
{{- range $paginator.Pages -}}
    {{ partial "list-item" . }}
{{- end -}}
{{- if or $paginator.HasPrev $paginator.HasNext -}}
<div class="e2-pages">
    {{- with $paginator.Prev -}}
    <a href="{{ .URL }}" id="link-earlier">Ранее</a>
    <span class="e2-keyboard-shortcut">↓</span>
    {{- end -}}
    <span class="e2-keyboard-shortcut">⌥</span>
    {{- with $paginator.Next -}}
    <span class="e2-keyboard-shortcut">↑</span>
    <a href="{{ .URL }}" id="link-later">Позднее</a>
    {{- end -}}
</div>
{{- end -}}

{{ partial "footer" . -}}