<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}" itemscope itemtype="http://schema.org/Product">
<head>
    <meta charset="utf-8">
    <title>{{ if eq .Title .Site.Title }}{{ .Site.Title }} - Личный блог с мыслями и наблюдениями{{ else }}{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="og:title" content="{{ if eq .Title .Site.Title }}{{ .Site.Title }} - Личный блог с мыслями и наблюдениями{{ else }}{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}{{ end }}" />
    <meta property="og:image" content="/static/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/favicon.ico"/>
{{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
{{ end }}
{{ partial "css" . }}
{{ partial "js" . }}
{{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
{{ end }}
{{ if .Prev -}}
    <link rel="prev" id="link-earlier" href="{{ .Prev.Permalink }}">
{{ end }}
{{ if .Next -}}
    <link rel="next" id="link-later" href="{{ .Next.Permalink }}">
{{ end }}
</head>
<body>
    <div class="common">
        <div class="flag">
            <div class="header-content">
                <div class="header-description">
                    <div class="title">
                        <div class="title-inner">
                            <div class="logo-marginal">
                                <div class="e2-user-picture-container">
                                    <img alt="Logo" title="Logo" src="/static/favicon.png"> 
                                </div>
                            </div>                          
                            <h1>
                                <a href="/">
                                    <span id="e2-blog-title" style="font-size: 48px">Weblog</span>
                                </a>
                            </h1>
                        </div>
                        <div id="e2-blog-description">
                            <p>Личный блог с мыслями и наблюдениями</p>
                        </div>
                    </div>
                </div>
                <div class="spotlight">
                    <form id="e2-search" class="search-field search-field-right-anchored e2-enterable" action="/search" accept-charset="utf-8" name="searchForm" role="form" onsubmit="return false">
                        <label class="search-field__label">
                            <input class="search-field__input" type="text" value=""  autocomplete="off" placeholder="Search site" id="search" aria-label="Search site" name="q">
                            <div class="search-field__zoom-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path stroke="none" fill-rule="evenodd" clip-rule="evenodd" d="M16 14.5l-4.399-4.399a6.212 6.212 0 0 0 1.148-3.602 6.25 6.25 0 1 0-12.5 0 6.25 6.25 0 0 0 6.251 6.25 6.212 6.212 0 0 0 3.602-1.148L14.5 16l1.5-1.5zM1.25 6.501a5.251 5.251 0 1 1 10.502 0 5.251 5.251 0 0 1-10.502 0z"></path></svg>
                            </div>
                        
                            <a class="nu search-field__tags-icon" href="/tags/" title="Теги">
                                <span class="e2-svgi"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path stroke="none" d="M6.938 16.001c-.43 0-.891-.16-1.32-.59L.607 10.38C-.406 9.367.037 8.191.581 7.647l6.538-6.501C7.145 1.116 8.176 0 9.427 0h4.044c1.153 0 2.5.659 2.5 2.516v3.991c0 1.167-1.029 2.229-1.146 2.347L8.32 15.415c-.308.309-.818.586-1.382.586zM9.427 1c-.801 0-1.578.828-1.586.837L1.287 8.354c-.146.152-.587.706.027 1.319l5.011 5.031c.589.59 1.137.15 1.29.003l6.501-6.559c.238-.241.855-1.002.855-1.642v-3.99c0-1.318-.94-1.516-1.5-1.516H9.427zm1.571 5.754c-.468 0-.907-.183-1.238-.515a1.765 1.765 0 0 1 0-2.487c.661-.664 1.814-.664 2.475 0 .331.332.513.774.513 1.243 0 .469-.182.911-.513 1.243a1.73 1.73 0 0 1-1.237.516z"></path></svg></span>
                            </a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <section class="search-results" style="display: none;">
            <div class="content"></div>
        </section>
        <div class="content" id="content">
