<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}" itemscope itemtype="http://schema.org/Product">
<head>
    <meta charset="utf-8">
    <title>{{ if eq .Title .Site.Title }}{{ .Site.Title }} - Личный блог с мыслями и наблюдениями{{ else }}{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="og:title" content="{{ if eq .Title .Site.Title }}{{ .Site.Title }} - Личный блог с мыслями и наблюдениями{{ else }}{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}{{ end }}" />
    <meta property="og:image" content="/static/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/static/favicon.ico"/>
{{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
{{ end }}
{{ partial "css" . }}
{{ partial "js" . }}
{{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
{{ end }}
{{ if .Prev -}}
    <link rel="prev" id="link-earlier" href="{{ .Prev.Permalink }}">
{{ end }}
{{ if .Next -}}
    <link rel="next" id="link-later" href="{{ .Next.Permalink }}">
{{ end }}
</head>
<body>
    <div class="common">
        <div class="flag">
            <div class="header-content">
                <div class="header-description">
                    <div class="title">
                        <div class="title-inner">
                            <div class="logo-marginal">
                                <div class="e2-user-picture-container">
                                    <img alt="Logo" title="Logo" src="/static/favicon.png"> 
                                </div>
                            </div>                          
                            <h1>
                                <a href="/">
                                    <span id="e2-blog-title" style="font-size: 48px">Weblog</span>
                                </a>
                            </h1>
                        </div>
                        <div id="e2-blog-description">
                            <p>Личный блог с мыслями и наблюдениями</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
