<noscript><div><img src="https://mc.yandex.ru/watch/21943429" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<script type="text/javascript" >
    document.addEventListener("DOMContentLoaded", function() {
        var lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));

        if ("IntersectionObserver" in window) {
            let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                    let lazyImage = entry.target;
                    lazyImage.src = lazyImage.dataset.src;
                    lazyImage.classList.remove("lazy");
                    lazyImageObserver.unobserve(lazyImage);
                }
            });
            });

            lazyImages.forEach(function(lazyImage) {
                lazyImageObserver.observe(lazyImage);
            });
        } else {
            // Possibly fall back to a more compatible method here
        }
    });
    Array.from(document.getElementsByClassName("__email__")).forEach(
        function(l, index, array) {
            var a = l.getAttribute("data-class");
            if (a) {
              var s = '';
              var r = parseInt(a.substr(0, 2), 16);

              for (var j = 2; a.length - j; j += 2) {
                var c = parseInt(a.substr(j, 2), 16) ^ r;
                s += String.fromCharCode(c);
              }
              l.parentNode.href = "mailto:"+s;
              l.parentNode.innerText = s;
            }
        }
    );

    let fired = false;
    window.addEventListener('scroll', function(){
        if (fired === false) {
            fired = true;
            setTimeout(() => {
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})(window, document, "script", "https://mc.yandex.ru/metrika/tag_jet_beta.js", "ym");ym(21943429, "init",{clickmap:true,trackLinks:true,accurateTrackBounce:true,ecommerce:"dataLayer"});
            }, 500);
        }
    },{passive: true});

    let searchFired = false;
    var searchEl = document.getElementsByClassName("search-field__zoom-icon")[0]

    searchEl.addEventListener('click', function(){
        if (searchFired === false) {
            searchFired = true;
            
            var lunrScript = document.createElement('script');
            lunrScript.type = 'text/javascript';
            lunrScript.src = 'https://unpkg.com/lunr/lunr.js';
            document.getElementsByTagName('body')[0].appendChild(lunrScript);

            {{ $search := resources.Get "js/search.js" | minify }}
            setTimeout(() => {
                var searchScript = document.createElement('script');
                searchScript.type = 'text/javascript';
                searchScript.src = '{{ $search.Permalink }}';
                document.getElementsByTagName('body')[0].appendChild(searchScript);
            }, 500);
        }
    },{passive: true});
</script>