<noscript><div><img src="https://mc.yandex.ru/watch/21943429" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{{ $common := resources.Get "js/common.js" | minify }}
<script type="text/javascript" src="{{ $common.Permalink }}"></script>
<script type="text/javascript" >
    let searchFired = false;
    var searchEl = document.getElementsByClassName("search-field__zoom-icon")[0]

    searchEl.addEventListener('click', function(){
        if (searchFired === false) {
            searchFired = true;

            {{ $search := resources.Get "js/search.js" | minify }}
            setTimeout(() => {
                var searchScript = document.createElement('script');
                searchScript.type = 'text/javascript';
                searchScript.src = '{{ $search.Permalink }}';
                document.getElementsByTagName('body')[0].appendChild(searchScript);
            }, 500);
        }
    },{passive: true});
</script>