{{ $src := .Get "src"}}

{{- $img := .Page.Resources.GetMatch $src -}}
{{- if not $img -}}
{{- $img = resources.Get $src -}}
{{- end -}}

{{ $alt := .Get "alt" }}
{{ $width := .Get "width" }}

<figure>
  <noscript>
    <style>
      img.lazy {
        display: none;
      }
    </style>
    <img src="{{ $img.RelPermalink }}" {{ if $width }}width="{{$width}}"{{ end }} />
  </noscript>
  <img class="lazy" {{ if $width }}width="{{$width}}"{{ end }} data-src="{{ $img.RelPermalink }}" alt="{{ $alt }}" />
</figure>